* {
    margin: 0px;
    padding: 0px
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    margin-left: 2em;
    margin-right: 2em;
}
          
.clearb {
    clear: both;
}

#mainHeader {
    background-color: powderblue;
    overflow: auto;
    padding-top: 2em;
}
           
#logo {
    width: 100%;
}
          
#logo img {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 2em;
}

nav {
    float: left;
    width: 100%;
}
          
nav ul {
    list-style-type: none;
    padding: 0;
}
 
nav ul li {
}
 
nav ul li a {
    background-color : lightsteelblue;
    <!-- border: thin solid ghostwhite; -->
    font-family: tabFont;
    display: block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: ghostwhite;
}

nav ul li a:hover {
    background-color: #a5a2db;
}

#mainSection {
    background-color: steelblue;
    width: 100%;
}

.content {
    background-color: ghostwhite;
    width: 90%;
    margin-left: 5%;
    border-radius: 2px;
}

.founders {
    color: black;
    font-size: 14;
    font-family: Courier New;
    padding-top: 5%;
    padding-bottom: 2%
}

.faustbutton {
    text-align: center;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-family: Courier New;
    width: 150px;
    height: 20px;
    border-radius: 2px;
    background-color: mediumorchid;
    border-style: solid;
    border-color: grey;
}

.faustbutton:hover {
    background-color: orchid;
    cursor: hand;
}

.blank {
    height: 1200px;
}

.menunavbutton {
    display:inline-block;
	width: 50%;
    margin-top: 0%;
    margin-left: 0%;
    content: url(res/FaustChestTempC2.png);
}

.menunavbutton:hover, .menunavbutton:focus {
    content: url(res/FaustChestTempO.png);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-left: 0%;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    overflow: auto;
    z-index: 1;
    border-width: 2px;
    font-family: tabFont;
}

.dropdown-content a {
    color: ghostwhite;
    font-family: tabFont;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #6f6f6f;
}

.show {
    display: block;
}

@font-face {
    font-family: tabFont;
    src: url(res/Don1.ttf);
}

/*
-7 inch tablets
-This CSS will apply for devices with the minimum width of 480 pixels
*/
@media only screen and (min-width: 480px) {
    
    nav ul li {
        width: 20%;
        float: left;
    }
}
          
/*
-10 inch tablets
-This CSS will apply for devices with the minimum width of 768 pixels
*/
@media only screen and (min-width: 768px) {
}
          
/*
-Desktop computers
-This CSS will apply for devices with the minimum width of 1140 pixels
*/
@media only screen and (min-width: 1140px) {
    nav ul{
    }
}